# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Flask-Login
psycopg2
Click
itsdangerous
Jinga2
MarkupSafe
Werkzeug
WTForms
blinker
Flask-Mail

# ----------------------
# Production Server
# ----------------------
gunicorn