.profilehead {
    padding-top: 40px;
    padding-bottom: 40px;
}

.card {
    padding: 50px;
    border-top: solid #007bff 5px;
}

.card label {
    font-weight: bold;
}


#biography {
    resize: none;
}