{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profiles.css') }}">
{% endblock %}


{% block main %}

<div class="profilehead">
    <h1>Profiles</h1>
</div>

{% if users %}
    
    {% for user in users %}

        <div class="card d-flex flex-row">
            <div class="card-header col-sm-3">
                <img src="{{ url_for('static', filename = 'uploads/'+ user.profile_picture) }}" class="cover" id="images" alt="Profile Picture">
            </div>
            <div class="card-body col-sm-5">
                <h3 class="card-title">{{ user.first_name}} {{ user.last_name }}</h3>
                <p class="card-text"><i class="fas fa-user fa-lg"> {{ user.gender }}</i></p>
                <p class="card-text"><i class="fas fa-map-marker-alt fa-lg"> {{ user.location }}</i></p>
            </div>
            <div class="col-sm-4 buttondiv">
                <form action="{{ url_for('oneprofilepage', userid=user.id) }}" method="GET" class="align-middle">
                    <button type="submit" class="btn btn-success align-middle">View Profile</button>
                </form>
            </div>
            
            
        </div>
    {% endfor %}
    
{% else %}
    <p>There are currently no users.</p>
    <p> You may create a Profile by visiting the <a href="{{ url_for('profile') }}">Profile</a> Page</p>
{% endif %}

{% endblock %}
